name: Pre-commit

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install GDScript Toolkit
        run: pip3 install 'gdtoolkit==4.*'
      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.0
